.d-inline-block{
  display: inline-block!important;
  vertical-align: top;
}
.main-menu{
  height:           100%;
  background-color: #013730;
  color:            #FFFFFF;
}
.main-container{
	background-color: #013730;	
}
.content{
	width: 82%;
	background-color: #FFFFFF;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
