.d-inline-block{
  display:        inline-block!important;
  vertical-align: top;
}
.float-right{
	float: right!important;
}
.main-menu{
  height:           100%;
  background-color: #00211D;
  color:            #FFFFFF;
}
.main-container{
	background-color: #00211D;	
}
.content{
	background-color: #FFFFFF;
	width:            82%;
}
.btn-title{
	margin-left: 46px;
	margin-top:  20px;
}
ol.breadcrumb{
  background-color: #256C62;
  border-radius:    0px!important;
}
div#SidebarTitle{
  background-color: #0E5047;
  padding:          7px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
